body {
    background-color: rgb(25, 88, 10);
  }

  h1 {
        color: rgb(66, 253, 9);
        font-family: verdana;
        font-size: 300%;
        text-align: center;
  }
  p {
    color: rgb(162, 0, 255);
       text-align: center;
       
  }
  
  .zoom {
    padding: 20px;
    text-align: center;
    font-size: 200%;
    transition: transform .2s; /* Animation */
    width: 500px;
    height: 100px;
    margin: 0 auto;
  }
  .zoom:hover {
    transform: scale(1.50); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }